<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleIconFile</key>
	<string>AppIcon</string>

	<key>CFBundleName</key>
	<string>XX-Net</string>
	<key>CFBundleExecutable</key>
	<string>xx-net.sh</string>
	<key>CFBundleIdentifier</key>
	<string>com.xx-net.xx-net</string>

	<key>CFBundleShortVersionString</key>
	<string>1.14.6</string>
	<key>CFBundleVersion</key>
	<string>1.14.6</string>
	<key>CFBundleGetInfoString</key>
	<string>1.14.6</string>

	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 will. All rights reserved.</string>
</dict>
</plist>
